/* begin TWC Store Page Detail Additional Info Footer Section Append */

  /*
  
    store page detail additional info footer section append
    
    License         : < https://tinyurl.com/s872fb68 >
    
    Version         : 0.3.0
    
    SS Version      : 7.1
    
    Products V2
    Compatible      : Yes
    
    Fluid
    Engine
    Compatible      : Yes
    
    Copyright       : 2021-2025 Thomas Creedon
                      
                      Tom's Web Consulting < http://www.tomsWeb.consulting/ >
    
    no user serviceable parts below
    
    */
    
  body:not( .sqs-edit-mode-active ) #footer-sections [ data-test="page-section" ]:has( x-twc-fsspdaia ) {
  
    display : none;
    
    }
    
  /* end TWC Store Page Detail Additional Info Footer Section Append */
