/*

  begin elements manipulate
  
  License     : < https://bit.ly/3F8sn8W >
  
  Version     : 0.3.0
  
  SS Version  : 7.1
  
  Fluid
  Engine
  Compatible  : Not Applicable
  
  By          : Thomas Creedon < http://www.tomsWeb.consulting/ >
  
  */
  
  html:not( .squarespace-damask ) #footer-sections .page-section:last-child {
  
    display : none;
    
    }
    
  /* end elements manipulate */
