/*!

  calendar block all day time hide
  
  License         : < https://tinyurl.com/s872fb68 >
  
  Version         : 0.1.0
  
  SS Versions     : 7.1, 7.0
  
  v7.1
  Fluid
  Engine
  Compatible      : Yes
  
  Copyright       : 2025 Thomas Creedon
                    
                    Tom's Web Consulting < http://www.tomsWeb.consulting/ >
  
  no user serviceable parts below
  
  */
  
.yui3-squarespacecalendar .flyoutitem .flyoutitem-datetime {

  display : none;
  
  }
