/*!

  cart page unit prices
  
  License           : < https://tinyurl.com/s872fb68 >
  
  Version           : 0.2.0
  
  SS Versions       : 7.1, 7.0
  
  Copyright         : 2021-2026 Thomas Creedon
                      
                      Tom's Web Consulting < http://www.tomsWeb.consulting/ >
  
  no user serviceable parts below
  
  */
  
.twc-cpup-cart-row-unit-price {

  min-width : 15vw;
  
  }
