/*!

  store page price change
  
  License           : < https://tinyurl.com/s872fb68 >
  
  Version           : 0.10.0
  
  SS Versions       : 7.1, 7.0
  
  v7.0
  Templates         : Brine ( Aria, Blend, Burke, Cacao, Clay, Fairfield,
                      Feed, Foster, Greenwich, Hatch, Heights, Hunter,
                      Hyde, Impact, Jaunt, Juke, Keene, Kin, Lincoln,
                      Maple, Margot, Marta, Mentor, Mercer, Miller,
                      Mojave, Moksha, Motto, Nueva, Pedro, Pursuit, Rally,
                      Rover, Royce, Sofia, Sonora, Stella, Thorne, Vow,
                      Wav, West )
                      
                      Five
                      
                      Montauk ( Julia, Kent, Om )
                      
                      your template is not listed? then it is not
                      currently supported
  
  Notes             : this code is a base for other effects
                      
  Copyright         : 2021-2026 Thomas Creedon
                      
                      Tom's Web Consulting
                      
                      < http://www.tomsWeb.consulting/ >
  
  no user serviceable parts below
  
  */
  
.product-price, /* 7.1, 7.0 */
.product-list-item-price /* 7.1 */

  {
  
    transition : opacity 1s linear;
    
    &:not( .twc-sppc ) {
    
      opacity : 0;
      
      }
      
    }
