    /*
    
      begin malidc close button add
      
      License       : < https://tinyurl.com/s872fb68 >
      
      Version       : 0.1.1
      
      SS Versions   : 7.1, 7.0
      
      Fluid
      Engine
      Compatible    : Not Applicable
      
      Dependencies  : Member Area Log In Dialog Change
                      < https://tinyurl.com/mwvvusdu >
      
      Copyright     : 2023-2024 Thomas Creedon
                      
                      Tom's Web Consulting < http://www.tomsWeb.consulting/ >
      
      */
      
       .twc-malidc {
      
        --button-inset : 15px;
        --button-stroke-width : 4px;
        
        color : black;
        
        }
        
      .close-btn-icon svg * {
      
        stroke : currentColor;
        stroke-width : var( --button-stroke-width );
        
        }
        
      .close-btn {
      
        cursor : pointer;
        background-color : transparent;
        left : var( --button-inset );
        position : absolute;
        top : var( --button-inset );
        z-index : 9;
        
        }
        
      .close-btn-icon {
      
        height : 20px;
        width : 20px;
        
        }
        
      /* end malidc close button add */
      
