/*

  begin change image card, image to text width ratios
  
  License       : < https://bit.ly/3F8sn8W >
  
  Version       : 0.2d0
  
  SS Version    : 7.1
  
  Dependencies  : LESS
  
  By            : Thomas Creedon < http://www.tomsWeb.consulting/ >
  
  */
  
  @image-width : 35%; /* how much the image takes up of the total width (100%)
                         available */
  
  /*
  
    the following targets all image cards, if you want to target specific ones
    then put // ( forward slash twice and space ) before the next line. that
    disables the site-wide effect. then use the multi-selector section to target
    specific image cards
    
    */
    
  #imageTextRatio();
  
  /*
  
    multi-selector section
    
    here is where you can build up selectors to target specific image cards.
    when targeting multiple items each line should end with a comma except for
    the last line. following are some examples
    
    targeting a single item
    
      a page
      
        #collection-5ff75ce123b8f237e195b9d3
        
      a page section
      
        #page-section-6019f74588988b10419eb99c
        
      an image block
      
        #block-yui_3_17_2_1_1621396382553_4638
        
    targeting multiple items
    
      image blocks
      
        block-yui_3_17_2_1_1621396382553_4638,
        block-yui_3_17_2_1_1621970255707_4758
        
    */
    
  /* remove this line to use multi-selectors
  
  [enter CSS selector(s) here to target your image card(s)]
  
    {
    
      #imageTextRatio();
      
      }
      
    remove this line to use multi-selectors */
    
  // do not change anything below, there be the borg here
  
  #imageTextRatio() {
  
    .sqs-block-image {
    
      .design-layout-card:not( .sqs-narrow-width ) {
      
        align-items : center;
        
        > div:first-child {
        
          width : @image-width - 2.5%;
          
          }
          
        .image-card-wrapper {
        
          width : 100% - @image-width - 2.5%;
          
          }
        }
      }
    }
    
  // end change image card, image to text width ratios
