/*

  begin change cart empty message
  
  Version     : 1.0
  
  SS Versions : 7.0, 7.1
  
  By          : Thomas Creedon < http://www.tomsWeb.consulting/ >
  
  */
  
  #cart {
  
    --empty-message : '[enter empty cart message here between single quotes]';
    
    }
    
  /* do not change anything below, there be the borg here */
  
  .empty-message > span {
  
    display : none;
    
    }
    
  .empty-message::before {
  
    content : var( --empty-message );
    
    }
    
  /* end change cart empty message */
