/*

  begin store category page description add
  
  License       : < https://tinyurl.com/s872fb68 >
  
  Version       : 0.6.3
  
  SS Version    : 7.0
  
  Templates     : Avenue
  
                  Bedford ( Anya, Bryant, Hayden )
                  
                  Brine ( Aria, Blend, Burke, Cacao, Clay, Fairfield, Feed,
                  Foster, Greenwich, Hatch, Heights, Hunter, Hyde, Impact,
                  Jaunt, Juke, Keene, Kin, Lincoln, Maple, Margot, Marta,
                  Mentor, Mercer, Miller, Mojave, Moksha, Motto, Nueva,
                  Pedro, Pursuit, Rally, Rover, Royce, Sofia, Sonora,
                  Stella, Thorne, Vow, Wav, West )
                  
                  Skye ( Foundry, Indigo, Ready, Skye, Tudor )
                  
                  your template is not listed? then it is not currently
                  supported
  
  Copyright     : 2021-2024 Thomas Creedon
                  
                  Tom's Web Consulting < http://www.tomsWeb.consulting/ >
  
  */
  
  .twc-category-description {
  
    clear : both;
    margin-bottom : 25px;
    width : calc( ~"100% + 15px" );
    
    }
    
  .tweak-product-list-filter-display-right-side .twc-category-description {
  
    width : unset;
    
    }
    
  @media only screen and ( min-width : 641px ) {
  
    .tweak-product-list-filter-display-left-side .ProductList-filter + .twc-category-description + .ProductList-grid,
    .tweak-product-list-filter-display-right-side .ProductList-filter + .twc-category-description + .ProductList-grid
    
      {
      
        box-sizing : border-box;
        clear : none;
        float : left;
        width : calc( ~"85% + 15px" );
        
        }
        
      }
      
  /* end store category page description add */
