/*

  store page detail additional info add footer boilerplate
  
  License       : < https://tinyurl.com/s872fb68 >
  
  Version       : 0.2.1
  
  SS Version    : 7.1
  
  Fluid
  Engine
  Compatible    : No
  
  By            : Thomas Creedon < http://www.tomsWeb.consulting/ >
  
  */

html:not( .squarespace-damask ) [data-section-id="( enter footer section id to be hidden here between double quotes replacing round brackets )"] {

  display : none;
  
  }
