/* begin TWC Modal Lightbox Fix */

  /*!
  
    modal lightbox fix
    
    License           : < https://tinyurl.com/s872fb68 >
    
    Version           : 1.0.0
    
    SS Versions       : 7.1, 7.0
    
    Copyright         : 2026 Thomas Creedon
                        
                        Tom's Web Consulting < http://www.tomsWeb.consulting/ >
    
    no user serviceable parts below
    
    */
    
  .sqs-modal-lightbox {
  
    inset : 0;
    position : fixed;
    width : unset;
    z-index : 100000000;
    
    }
    
  .sqs-modal-lightbox-content {
  
    height : unset;
    position : unset;
    width : unset;
    z-index : unset;
    
    }
    
  .sqs-modal-lightbox-content .lightbox-inner {
  
    height : unset;
    top : unset;
    width : unset;
    
    inset : 0;
    position : absolute;
    
    }
    
  /* end TWC Modal Lightbox Fix */
