/*

  move page last footer section to first
  
  Version     : 0.1.2
  
  SS Version  : 7.1
  
  Fluid
  Engine
  Compatible  : Not Applicable
  
  Note        : this effect is not active in SS Preview to test it use private
                browsing < https://bit.ly/3f6lhq2 >
  
  By          : Thomas Creedon < http://www.tomsWeb.consulting/ >
  
  */
  
html:not( .squarespace-damask ) #footer-sections .page-section:last-child {

  display : none;
  
  }
