/* begin TWC Header Buttons Add Options */

  /*
  
    header buttons add options
    
    License         : < https://tinyurl.com/s872fb68 >
    
    Version         : 0.10.0
    
    SS Version      : 7.1
    
    Dependencies    : LESS
    
    Note            : on mobile at 575px and below the orientation is forced to
                      column
    
    Copyright       : 2021-2026 Thomas Creedon
                      
                      Tom's Web Consulting < http://www.tomsWeb.consulting/ >
    
    */
    
  @gap : 0.5rem; // space between buttons
  
  // direction-order controls whether buttons will be oriented in a row or
  // column and if they will be in normal or reversed order. the first argument
  // can be row or column, the second argument can be normal or reverse
  
  .direction-order ( row, reverse );
  
  .secondary-match-primary-font-size ( true );
  
  .tertiary-match-primary-font-size ( true );
  
  /* end TWC Header Buttons Add Options */
