/* begin TWC Button Element No Link Inactive */

  /*!
  
    button element no link inactive
    
    License         : < https://tinyurl.com/s872fb68 >
    
    Version         : 0.1.0
    
    SS Version      : 7.1
    
    Copyright       : 2026 Thomas Creedon
                      
                      Tom's Web Consulting < http://www.tomsWeb.consulting/ >
    
    */
    
  .sqs-button-element--primary,
  .sqs-button-element--secondary,
  .sqs-button-element--tertiary,
  x-twc-selector /* dummy selector so that each selector line above can end with
                    a comma */
    {
    
      &[href=""] {
      
        cursor : none;
        pointer-events : none;
        
        }
        
      }
      
  /* end TWC Button Element No Link Inactive */
