/*

  begin form text field max length
  
  Version       : 0.3d1
  
  SS Versions   : 7.1, 7.0
  
  By            : Thomas Creedon < http://www.tomsWeb.consulting/ >
  
  no user serviceable parts below
  
  */
  
  .form-wrapper .field-list .description {
  
    display : none;
    
    }
    
  .form-wrapper .field-list .description.twc-ftfml-show {
  
    display : block;
    
    }
    
  /* end form text field max length */
