/*!

  form block fields from sessionStorage
  
  License           : < https://tinyurl.com/s872fb68 >
  
  Version           : 0.2.0
  
  SS Versions       : 7.1, 7.0
  
  Note              : this effect does not work with checkbox, hidden, radio,
                      or survey fields
  
  Copyright         : 2026 Thomas Creedon
                      
                      Tom's Web Consulting < http://www.tomsWeb.consulting/ >
  
  no user serviceable parts below
  
  */
  
body:not( .sqs-is-page-editing ) {

  .sqs-site-style-form .field-list .field.twc-fbffs--hide {
  
    display : none;
    
    }
    
  }
