/*

  begin blog post title each word span tag add
  
  License     : < https://tinyurl.com/s872fb68 >
  
  Version     : 0.2.0
  
  SS Version  : 7.1
  
  Note        : this effect is not active in SS Preview to test it use private
                browsing < https://bit.ly/3f6lhq2 >
  
  Copyright   : 2022-2025 Thomas Creedon
                
                Tom's Web Consulting < http://www.tomsWeb.consulting/ >
  
  no user serviceable parts below
  
  */
  
  .blog-item-wrapper .blog-item-title h1.entry-title {
  
    visibility : hidden;
    
    }
    
  .twc-bptewsta-show .blog-item-wrapper .blog-item-title h1.entry-title {
  
    visibility : visible;
    
    }
    
  /* end blog post title each word add span tag */
