/*

  begin change cart title
  
  Version     : 1.0
  
  SS Versions : 7.1, 7.0
  
  By          : Thomas Creedon < http://www.tomsWeb.consulting/ >
  
  */
  
  #cart {
  
    --cart-title : '[enter cart title here between single quotes]';
    
    }
    
  /* do not change anything below, there be the borg here */
  
  .cart-title {
  
    visibility : hidden;
    
    }
    
  .cart-title::before {
  
    content : var( --cart-title );
    visibility : visible;
    
    }
    
  /* end change cart title */
