/* begin Store Page Detail Page Sections Append Footer Section */

  /*!
  
    store page detail additional info footer section append
    
    License         : < https://tinyurl.com/s872fb68 >
    
    Version         : 0.4.0
    
    SS Version      : 7.1
    
    Copyright       : 2021-2026 Thomas Creedon
                      
                      Tom's Web Consulting < http://www.tomsWeb.consulting/ >
    
    no user serviceable parts below
    
    */
    
  body {
  
    &.sqs-edit-mode-active #page-regions .region:nth-child( 2 ) [data-test="page-section"]:has( x-twc-spdpsafs ),
    &:not( .sqs-edit-mode-active ) #footer-sections [data-test="page-section"]:has( x-twc-spdpsafs )
    
      {
        
        display : none;
        
        }
        
    }
  
  /* end TWC Store Page Detail Additional Info Footer Section Append */
