/*!

  cart page has items continue shopping add
  
  License           : < https://tinyurl.com/s872fb68 >
  
  Version           : 1.0.0
  
  SS Versions       : 7.1, 7.0
  
  Copyright         : 2021-2026 Thomas Creedon
                      
                      Tom's Web Consulting
                      
                      < http://www.tomsWeb.consulting/ >
  
  no user serviceable parts below
  
  */
  
  #twc-cphicsa {
  
    margin-bottom : 10px;
    margin-top : 22px;
    
    }
    
  .twc-cphicsa-has-items {
  
    margin-bottom : 10px;
    
    }
