/*!

  store page list empty html add
  
  License       : < https://tinyurl.com/s872fb68 >
  
  Version       : 0.3.0
  
  SS Versions   : 7.1, 7.0
  
  v7.1
  Products V2
  Compatible    : Yes
  
  v7.1
  Fluid
  Engine
  Compatible    : Not Applicable
  
  v7.0
  Templates     : Brine ( Aria, Blend, Burke, Cacao, Clay, Fairfield, Feed,
                  Foster, Greenwich, Hatch, Heights, Hunter, Hyde, Impact,
                  Jaunt, Juke, Keene, Kin, Lincoln, Maple, Margot, Marta,
                  Mentor, Mercer, Miller, Mojave, Moksha, Motto, Nueva, Pedro,
                  Pursuit, Rally, Rover, Royce, Sofia, Sonora, Stella, Thorne,
                  Vow, Wav, West )
                  
                  your template is not listed? then it is not currently
                  supported
  
  Copyright     : 2021-2025 Thomas Creedon
                  
                  Tom's Web Consulting < http://www.tomsWeb.consulting/ >
  
  no user serviceable parts below
  
  */
  
/* 7.1 layout grid */

.product-list .product-list-layout-container[ data-product-list-layout="grid" ] {

  display : flex;
  flex-direction : column;
  
  }
