/*!

  store page list images hide
  
  License        : < https://tinyurl.com/s872fb68 >
  
  Version        : 0.2.0
  
  SS Version     : 7.1
  
  Products V2
  Compatible     : Yes
  
  Fluid
  Engine
  Compatible     : Not Applicable
  
  Copyright      : 2021-2025 Thomas Creedon
                   
                   Tom's Web Consulting
                   
                   < http://www.tomsWeb.consulting/ >
  
  no user serviceable parts below
  
  */
  
body:not( .sqs-is-page-editing ) .product-list .product-list-item .product-list-item-link .product-list-image-wrapper {

  display : none;
  
  }
