/*!

  product custom form text field max length
  
  License         : < https://tinyurl.com/s872fb68 >
  
  Version         : 0.2.0
  
  SS Versions     : 7.1, 7.0
  
  v7.1
  Fluid
  Engine
  Compatible      : Not Applicable
  
  v7.0 
  Templates       : Brine ( Aria, Blend, Burke, Cacao, Clay, Fairfield, Feed,
                    Foster, Greenwich, Hatch, Heights, Hunter, Hyde, Impact,
                    Jaunt, Juke, Keene, Kin, Lincoln, Maple, Margot, Marta,
                    Mentor, Mercer, Miller, Mojave, Moksha, Motto, Nueva, Pedro,
                    Pursuit, Rally, Rover, Royce, Sofia, Sonora, Stella, Thorne,
                    Vow, Wav, West )
                    
                    your template is not listed? then it is not currently
                    supported
  
  Copyright        : 2024-2026 Thomas Creedon
                    
                    Tom's Web Consulting < http://www.tomsWeb.consulting/ >
  
  no user serviceable parts below
  
  */
  
.sqs-async-form-content .form-wrapper .field-list .field .field-element[ placeholder*="ftfml" ] {

  visibility : hidden;
  
  }
