/*!

  product custom form text field max length
  
  License           : < https://tinyurl.com/s872fb68 >
  
  Version           : 0.3.1
  
  SS Versions       : 7.1, 7.0
  
  v7.1
  Fluid
  Engine
  Compatible        : Not Applicable
  
  v7.0 
  Templates         : Brine ( Aria, Blend, Burke, Cacao, Clay, Fairfield,
                      Feed, Foster, Greenwich, Hatch, Heights, Hunter, Hyde,
                      Impact, Jaunt, Juke, Keene, Kin, Lincoln, Maple, Margot,
                      Marta, Mentor, Mercer, Miller, Mojave, Moksha, Motto,
                      Nueva, Pedro, Pursuit, Rally, Rover, Royce, Sofia,
                      Sonora, Stella, Thorne, Vow, Wav, West )
                      
                      your template is not listed? then it is not currently
                      supported
  
  Dependencies      : form inner wrapper observe changes
                      
                      < https://tinyurl.com/yjbszby7 >
  
                    : modal lightbox observe changes
                      
                      < https://tinyurl.com/877wczvk >
  
  Notes             : this code does not work on the checkout page. it is a
                      Squarespace security feature that no code can alter the
                      checkout page
                      
                      this code is client side and making use of an HTML form
                      feature. Since this code is client side it is possible
                      to bypass the max length limit this code is setting. in
                      other words you still need to be checking manually when
                      forms or orders come in to make sure your limits are not
                      being exceeded. consider this code more of an aid to
                      help users not exceed your field max length limits
  
  Copyright         : 2024-2026 Thomas Creedon
                      
                      Tom's Web Consulting < http://www.tomsWeb.consulting/ >
  
  no user serviceable parts below
  
  */
  
input[ placeholder*="ftfml" ] {

  visibility : hidden;
  
  }
