/*

  begin gallery section text block overlay
  
  License       : < https://tinyurl.com/s872fb68 >
  
  Version       : 0.1.0
  
  SS Version    : 7.1
  
  Notes         : this effect is not active in SS Preview to test it use
                  private browsing < https://tinyurl.com/ynessvsf >
                  
                  this effect only supports gallery type slideshow simple
  
  By            : Thomas Creedon < http://www.tomsWeb.consulting/ >
  
  no user serviceable parts below
  
  */
  
  html:not( .squarespace-damask ) #siteWrapper {
  
    --twc-page-section-display : none;
    
    }
    
  html:not( .squarespace-damask ) .page-section {
  
    display : var( --twc-page-section-display );
    
    }
    
  /* begin galleries */
  
    html:not( .squarespace-damask ) .twc-gstbo .gallery-slideshow {
    
      margin-bottom : 50px;
      
      }
      
    html:not( .squarespace-damask ) .twc-gstbo .gallery-slideshow .gallery-caption-slideshow {
    
      background-color : var( --siteBackgroundColor );
      height : auto;
      margin-top : 0;
      opacity : 0.8;
      position : absolute;
      top : 50% !important;
      
      -webkit-transform : translateY( -50% );
      -ms-transform : translateY( -50% );
      transform : translateY( -50% );
      
      }
      
    html:not( .squarespace-damask ) .twc-gstbo .gallery-slideshow .gallery-caption-slideshow .gallery-caption-content {
    
      padding-bottom : 17px;
      padding-top : 17px;
      
      }
      
    /* end galleries */
    
  /* end gallery section text block overlay */
