/*

  begin add buttons to header
  
  License       : < https://bit.ly/3F8sn8W >
  
  Version       : 0.7d1
  
  SS Version    : 7.1
  
  Dependancies  : LESS
  
  Note          : on mobile at 575px and below the orientation is forced to
                  column
  
  By            : Thomas Creedon < http://www.tomsWeb.consulting/ >
  
  */
  
  @gap : 0.5rem; // space between buttons
  
  /*
  
    direction-order controls whether buttons will be oriented in a row or column
    and if they will be in normal or reversed order. the first argument can be
    row or column, the second argument can be normal or reverse.
    
    */
    
  .direction-order ( row, reverse );
  
  // do not change anything below, there be the borg here
  
  .header .header-actions-action--cta, // desktop
  .header-menu-cta // mobile
  
    {
    
      display : -webkit-box;
      display : -ms-flexbox;
      display : flex;
      
      -webkit-box-orient : @d3;
      -webkit-box-direction : @d2;
      -ms-flex-direction : @d1;
      flex-direction : @d1;
      
      grid-gap : @gap;
      gap : @gap;
      
      }
      
  // desktop
  
  .header .header-actions-action--cta {
  
      text-align : center;
      
      }
      
  @media only screen and ( pointer : coarse ) and ( max-width : 1024px ),
  screen and ( max-width : 799px ) {
  
    .header .header-actions-action--cta {
    
      display : none;
      
      }
      
    }
    
  // begin mobile
  
    .header-menu-cta {
    
      justify-content : center;
      
      }
      
    @media screen and ( max-width : 575px ) {
    
      .header-menu-cta {
      
        -webkit-box-orient : @d6;
        -webkit-box-direction : @d5;
        -ms-flex-direction : @d4;
        flex-direction : @d4;
        
        }
        
      }
      
    .header-menu-cta a {
    
      margin-left : auto;
      margin-right : auto;
      
      }
      
    // end mobile
    
  // begin direction mixins
  
    // begin desktop
    
      // direction row, normal
      
      .direction-order ( @d, @o ) when ( @d = row ) and ( @o = normal ) {
      
        @d1 : row;
        @d2 : normal;
        @d3 : horizontal;
        
        }
        
      // direction row, reverse
      
      .direction-order ( @d, @o ) when ( @d = row ) and ( @o = reverse ) {
      
        @d1 : row-reverse;
        @d2 : reverse;
        @d3 : horizontal;
        
        }
        
      // direction column, normal
      
      .direction-order ( @d, @o ) when ( @d = column ) and ( @o = normal ) {
      
        @d1 : column;
        @d2 : normal;
        @d3 : vertical;
        
        }
        
      // direction column, reverse
      
      .direction-order ( @d, @o ) when ( @d = column ) and ( @o = reverse ) {
      
        @d1 : column-reverse;
        @d2 : reverse;
        @d3 : vertical;
        
        }
        
      // end desktop
      
    // mobile
    
      // direction column, normal
      
      .direction-order ( @d, @o ) when ( @o = normal ) {
      
        @d4 : column;
        @d5 : normal;
        @d6 : vertical;
        
        }
        
      // direction column, reverse
      
      .direction-order ( @d, @o ) when ( @o = reverse ) {
      
        @d4 : column-reverse;
        @d5 : reverse;
        @d6 : vertical;
        
        }
        
    // end direction mixins
    
  // end add buttons to header
