/*! begin TWC Store Page Detail Product Dimensions */

  /*!
  
    store page detail product dimensions
    
    License         : < https://tinyurl.com/s872fb68 >
    
    Version         : 0.6.0
    
    SS Version      : 7.1
    
    Products V2
    Compatible      : Yes
    
    Fluid
    Engine
    Compatible      : Not Applicable
    
    Note            : the dimensions entered in the squarespace editor are
                      shipping dimensions, not product dimensions. if you don't
                      need to use shipping dimensions for shipping you can use
                      it for product dimensions. if you need product dimensions
                      as well as shipping then use the <script id="twc-spdpd">
                      tag referenced in the read me
    
    Copyright       : 2022-2025 Thomas Creedon
                      
                      Tom's Web Consulting < http://www.tomsWeb.consulting/ >
    
    no user serviceable parts below
    
    */
    
  .twc-spdpd {
  
    white-space :  nowrap;
    
    }
    
  .sqs-block-code:has( #twc-spdpd ),
  .twc-spdpd--hide
  
    {
    
      display :  none;
      
      }
      
  /*! end TWC Store Page Detail Product Dimensions */
