/*

  begin change cart continue shopping text
  
  Version     : 1.0
  
  SS Versions : 7.1, 7.0
  
  By          : Thomas Creedon < http://www.tomsWeb.consulting/ >
  
  */
  
  #cart {
  
    --continue-shopping-text : '[enter continue shopping text here between single quotes]';
    
    }
    
  /* do not change anything below, there be the borg here */
  
  #cart [data-test="continue-shopping-link"] span {
  
    visibility : hidden;
    
    }
    
  #cart [data-test="continue-shopping-link"] span::before {
  
    content : var( --continue-shopping-text );
    visibility : visible;
    
    }
    
  /* end change cart continue shopping text */
