    /*
    
      begin member area log in close button add
      
      License      : < https://bit.ly/3F8sn8W >
      
      Version      : 0.1.0
      
      SS Version   : 7.1
      
      Fluid
      Engine
      Compatible   : Not Applicable
      
      Dependencies : Member Area Log In Dialog Change < https://bit.ly/3UVvDf3 >
      
      By           : Thomas Creedon < http://www.tomsWeb.consulting/ >
      
      */
      
       .twc-malidc {
      
        --button-inset : 15px;
        --button-stroke-width : 4px;
        
        color : black;
        
        }
        
      .close-btn-icon svg * {
      
        stroke : currentColor;
        stroke-width : var( --button-stroke-width );
        
        }
        
      .close-btn {
      
        cursor : pointer;
        background-color : transparent;
        left : var( --button-inset );
        position : absolute;
        top : var( --button-inset );
        z-index : 9;
        
        }
        
      .close-btn-icon {
      
        height : 20px;
        width : 20px;
        
        }
        
      /* end member area log in close button add */
      
